<form action="/Home/Create" method="post"> 
    <label>Nome:</label><input type="text" name="Nome" value="" id="nome" /><br /><br />
    <label>Marca:</label><input type="text" name="Marca" value="" id="marca" /><br /><br />
    <label>Cilindradas</label><input type="number" name="Cilindrada" value="" id="cilindrada" /><br /><br />
    <input type="submit" value="Salvar" class="btn btn-success"/>
</form>